

.movie__detail {
    font-family: var(--ff-sans);
    margin: 0;
    padding: 0;
    margin: 4rem;
    padding: 2rem;
}

.movie__detail-content {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    margin-bottom: 6rem;
}

.movie__detail-image {
    width: 40rem;
    height: 35rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
    border: 1px solid var(--color-gray-dark);
}


.movie__detail-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
    line-height: 1;
    color: var(--color-gray-dark);
}

/* L'année en retrait avec ton gris sémantique */
.movie__detail-year {
    font-size: 1.5rem;
    color: var(--color-gray);
    margin-top: 0.5rem;
}

/* Réalisateur mis en avant */
.movie__detail-director {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--color-gray-light);
}

/* Infos techniques (durée, age) */
.movie__detail-subinfo {
    font-size: 1rem;
    color: var(--color-gray);
    border-left: 0.25rem solid var(--color-gray-dark);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

/* Description très lisible */
.movie__detail-description {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-gray);
    max-width: 55ch;
}

/* Trailer : On occupe toute la largeur pour l'immersion */
.movie__detail-trailer {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    background: var(--color-bg); /* Utilise ton gris sombre sémantique */
    box-shadow: 0 0 3.125rem rgba(0,0,0,0.5);
}

.movie__detail-trailer iframe {
    width: 100%;
    aspect-ratio: 21 / 9; /* Format cinéma plus large pour le trailer */
    border: none;
    display: block;
}

