<div class="movie__detail">
    <div class="movie__detail-content">
        <img class="movie__detail-image" src="../server/images/{{image}}" alt="Affiche de {{name}}">
        <div class="movie__detail-infos">
            <h4 class="movie__detail-title">{{name}}</h4>
            <p class="movie__detail-director">{{director}}</p>
            <p class="movie__detail-year">{{year}}</p>
            <p class="movie__detail-subinfo">{{length}}min, {{min_age}}+</p>
            <p class="movie__detail-description">{{description}}</p>
            <button onclick="{{hFavorite}}" id="btn-favorite">{{favoriteLabel}}</button>
        </div>
    </div>
    <div class="movie__detail-trailer">
        <iframe src="{{trailer}}" allowfullscreen></iframe>
    </div>
</div>